{{page-title "AddMark"}}

<div id="body"><br>
    <LinkTo style="color: white; font-size: medium; text-decoration: none;" @route="index">Back</LinkTo>
    <center>
        <h3 style="color: white">Add marks</h3><br>
        <div class="container"><br><br>
            <input type="number" id="regNum" placeholder="Reg. number"><br><br>
            <input type="number" id="tamilMark" placeholder="Tamil Mark"><br><br>
            <input type="number" id="EnglishMark" placeholder="English Mark"><br><br>
            <input type="number" id="mathsMark" placeholder="Maths Mark"><br><br>
            <input type="number" id="ScienceMark" placeholder="Science Mark"><br><br>
            <input type="number" id="SocialMark" placeholder="Social Mark"><br><br>

            <button type="button" {{action 'addMark'}}>Add</button><br><br>
        </div>
    </center>
</div>