{{page-title "AddUser"}}

{{page-title "AddUser"}}
<div id="body"><br><br>
    <center>
        <h3 style="color:white">Create Account</h3><br>
        <div class="container"><br><br>
            <center>
                <input type="text" id="userId" placeholder="User Id"><br><br>

                <input type="text" id="userName" placeholder="User Name"><br><br>

                <input type="password" id="password" placeholder="Passward"><br><br>

                <input type="password" id="cPassword" placeholder="Conform password"><br><br><br>   
                <button type="button" class="button" {{action "addUser"}} type="button">Create</button><br><br>

            </center>
        </div>
    </center>
</div>