{{page-title "Log In"}}
<div id="body">
    <center><br><br>
        <h3 style="color:white">Welcome</h3><br>
        <div class="container"><br><br><br><br>
            <LinkTo style="color: black; font-size: x-large; text-decoration: none;" @route="add-mark">Add marks</LinkTo><br><br>
            <LinkTo style="color: black; font-size: x-large; text-decoration: none;" @route="read-mark">Read marks</LinkTo><br><br>
            <LinkTo style="color: black; font-size: x-large; text-decoration: none;" @route="update-mark">Update marks</LinkTo><br><br>
            <LinkTo style="color: black; font-size: x-large; text-decoration: none;" @route="delete-mark">Delete marks</LinkTo><br><br>
        </div>
    </center>
</div><br><br><br><br><br>