{{page-title "UpdateMark"}}

<div id="body"><br>
    <LinkTo style="color: white; font-size: medium; text-decoration: none;" @route="index">Back</LinkTo>
    <center>
        <h3 style="color: white">Update marks</h3><br>
        <div class="container"><br><br><br><br><br><br>
            <input type="number" id="regNum" placeholder="Enter register number"><br><br>
            <button type="button" {{action 'readMarks'}}>Read</button>
        </div>
    </center>
</div>